{{#if image}}
<div class="image-box">
  <img src="{{image}}" />
</div>
{{/if}}
<h2><a href="{{url}}">{{title}}</a></h2>
<p class="date">Published: {{date published_at format="MMMM DD, YYYY"}}, Author: {{author}}</p>
