<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{meta_title}}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="{{meta_description}}">

    <!-- <link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic|Noto+Serif:400,700' rel='stylesheet' type='text/css'> -->
    <link href='http://fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Noto+Serif:400,700' rel='stylesheet' type='text/css'>
    
    <link rel="stylesheet" href="/assets/main.css" media="screen" charset="utf-8">

    {{ghost_head}}
  </head>
  <body>

    {{navigation}}

    {{{body}}}
    {{ghost_foot}}
  </body>
</html>
