{{!< moth}}

  {{#post}}
    <div class="elastic-container">
      <div class="full">

        <article class="{{post_class}}">
          {{> 'post-header'}}
          {{content}}
          {{#if tags}}
          <p>Tags: {{tags}}</p>
          {{/if}}
        </article>

      </div>

      <div class="elastic">
        {{#next_post}}
        <div class="nav">
          <a href="{{url}}">&larr; Newer</a>
        </div>
        {{/next_post}}
        {{#prev_post}}
        <div class="nav">
          <a href="{{url}}">Older &rarr;</a>
        </div>
        {{/prev_post}}
      </div>

    </div>
  {{/post}}
